# Copy this file content to a .env file in the root of the project

# The application environment. Can be one of the following:
#
# - "development": Used when accessing the REST API manually from a local machine
# - "production": Used when running the REST API in a production server
# - "test": Used when running tests. An in-memory SQLite database is used
#
# Notice that using "development" or "production" environments when running
# tests can cause unexpected test failures, since the database is not reset

NODE_ENV="test"

# Development or production PostgreSQL database settings. For tests, an in-memory
# SQLite database is used

PG_HOSTNAME="localhost"
PG_PORT=5432
PG_USERNAME=""
PG_PASSWORD=""
PG_NAME=""

# Server settings

SERVER_PORT=8080